body{
    
    background-image: url(./img/fundo.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#carouselExample{
    display: flex;
    justify-content: center;
    width: 90%;
}
.carousel-inner{
    display: flex;
    justify-content: start;
    padding-top: 2.5%;
    padding-left: 10%;
    width: 90%;
    height: 10%;
}
.d-block{
    max-height: 15rem;
}

.carousel-control-next{
    display: flex;
    justify-content: end;
    min-width:50%;
    padding-right: 6.9%;
    padding-top:5%;
}

.carousel-control-prev{
    display: flex;
    justify-content: start;
    min-width:50%;
    padding-left: 17%;
    padding-top:5%;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2%;
    min-width: 27.6%;
    min-height: 100%;
    margin-left: 13.5%;
    
}


.card-ajuste{
    width: 20rem;
    min-width: 90%;
    min-height: 100%;
    z-index: 0;
    
   
}
.carousel-card{
    display: flex;
    justify-content: start;
    width: 90%;
    height: 10%;
    z-index: 0;
}
.carousel-item{
}
.card-button-prev{ 
    padding-top:5%;
    padding-left: 2%;
    background-color: transparent;
    border: none;
    z-index: 0;
}
.card-button-next{
    width: 12rem;
    padding-right:13%;
    padding-top:5%;
    background-color: transparent;
    border: none;
    z-index: 0;
    
}
.carousel-item img {
    height: 1000%;
    border-radius: 15px;
    z-index: 0;
}

.btn{
    z-index: 1;
    position: absolute;
    top: 79%;
    width: 90%;
    border-radius:10px ;
    background-color:rgba(128, 128, 128, 0.377);
}
.info{
    z-index: 2;
    position: absolute;
}

@media only screen and (max-width: 800px){
    .section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 2%;
        min-width: 27.6%;
        min-height: 100%;
        margin-left: 13.5%;
    }
    
    }